{% extends 'dcim/device/base.html' %}
{% load napalm_static %}

{% block title %}{{ object }} - Interface Status{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static_versioned 'netbox_napalm_plugin/js/interface_status.js' %}" onerror="window.location='{% url 'media_failure' %}?filename=interface_status.js'"></script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-overlay">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="card-header">
            <h5 class="d-inline">Interface Status</h5>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Interface</th>
                    <th>Link</th>
                    <th>Enabled</th>
                    <th>Last Flapped</th>
                    <th>Speed</th>
                    <th>Configured Device</th>
                    <th>Configured Interface</th>
                    <th>LLDP Device</th>
                    <th>LLDP Interface</th>
                </tr>
            </thead>
            <tbody>
                {% for iface in interfaces %}
                    <tr id="{{ iface.name }}">
                        <td><a href="{% url 'dcim:interface' pk=iface.pk %}">{{ iface }}</a></td>
                        <td class="link_status"></td>
                        <td class="enabled"></td>
                        <td class="last_flapped"></td>
                        <td class="speed"></td>
                        {% with peer=iface.connected_endpoints.0 %}
                          {% if peer.device %}
                              <td class="configured" data-device="{{ peer.device.name }}" data-chassis="{{ peer.device.virtual_chassis.name }}" data-peer-device-pk="{{ peer.device.pk }}" data-interface="{{ peer.name }}">
                                  <a href="{% url 'dcim:device' pk=peer.device.pk %}">{{ peer.device }}</a>
                                  <i class="mdi mdi-chevron-right"></i>
                                  <a href="/dcim/devices/{{ peer.device.pk }}/interface-status/#interface-{{ peer.name }}" title="Go to {{ peer }} on {{ peer.device }}">{{ peer }}</a>
                              </td>
                          {% elif peer.circuit %}
                              {% with circuit=peer.circuit %}
                                  <td>
                                      <i class="mdi mdi-lightning-bolt" title="Circuit"></i>
                                      <a href="{{ circuit.get_absolute_url }}">{{ circuit.provider }} {{ circuit }}</a>
                                  </td>
                              {% endwith %}
                          {% else %}
                              <td class="text-muted">None</td>
                          {% endif %}
                        {% endwith %}
                        <td class="lldp">
                            <span class="lldp-device"></span>
                            <i class="mdi mdi-chevron-right"></i>
                            <span class="lldp-interface"></span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="netbox-data" style="display: none!important; visibility: hidden!important">
        <span data-object-url="{% url 'plugins-api:netbox_napalm_plugin-api:napalmplatformconfig-napalm' pk=object.pk %}?method=get_interfaces&method=get_lldp_neighbors_detail"></span>    
    </div>
{% endblock %}
