{% extends 'dcim/device/base.html' %}
{% load buttons %}
{% load helpers %}
{% load napalm_static %}
{% load perms %}
{% load i18n %}

{% block title %}{{ object }} - LLDP Neighbors{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static_versioned 'netbox_napalm_plugin/js/lldp.js' %}" onerror="window.location='{% url 'media_failure' %}?filename=lldp.js'"></script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-overlay">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="card-header">
            <h5 class="d-inline">LLDP Neighbors</h5>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Interface</th>
                    <th>Configured</th>
                    <th>LLDP</th>
                    <th>Management IP</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for iface in interfaces %}
                    <tr id="{{ iface.name }}">
                        <td>
                            <a href="{% url 'dcim:interface' pk=iface.pk %}">{{ iface }}</a>
                            <a href="{% url 'dcim:interface_edit' pk=iface.pk %}" class="btn btn-sm btn-outline-secondary ms-1" title="Edit interface">
                                <i class="mdi mdi-pencil"></i>
                            </a>
                        </td>
                        {% with peer=iface.connected_endpoints.0 %}
                          {% if peer.device %}
                              <td class="configured" data-device="{{ peer.device.name }}" data-chassis="{{ peer.device.virtual_chassis.name }}" data-interface="{{ peer.name }}">
                                  <a href="{% url 'dcim:device' pk=peer.device.pk %}">{{ peer.device }}</a>
                                  <i class="mdi mdi-chevron-right"></i>
                                  <span title="{{ peer.get_type_display }}">{{ peer }}</span>
                                  <i class="mdi mdi-alert-outline configured-warning" style="display:none;color:#ffc107;"></i>
                              </td>
                          {% elif peer.circuit %}
                              {% with circuit=peer.circuit %}
                                  <td>
                                      <i class="mdi mdi-lightning-bolt" title="Circuit"></i>
                                      <a href="{{ circuit.get_absolute_url }}">{{ circuit.provider }} {{ circuit }}</a>
                                  </td>
                              {% endwith %}
                          {% else %}
                              <td class="text-muted">None</td>
                          {% endif %}
                        {% endwith %}
                        <td class="lldp">
                            <span class="lldp-device"></span>
                            <i class="mdi mdi-chevron-right" style="display:none"></i>
                            <span class="lldp-interface"></span>
                        </td>
                        <td class="mgmt_address"></td>
                        <td class="actions">
                            {% if perms.dcim.change_interface %}
                            <span class="dropdown">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Add">
                                    <span class="mdi mdi-plus-thick" aria-hidden="true"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    {% if perms.ipam.add_ipaddress %}
                                    <li><a class="dropdown-item" href="{% url 'ipam:ipaddress_add' %}?interface={{ iface.pk }}&return_url={% url 'plugins:netbox_napalm_plugin:lldp_neighbors' pk=object.pk %}">IP Address</a></li>
                                    {% endif %}
                                    {% if perms.dcim.add_macaddress %}
                                    <li><a class="dropdown-item" href="{% url 'dcim:macaddress_add' %}?interface={{ iface.pk }}&return_url={% url 'plugins:netbox_napalm_plugin:lldp_neighbors' pk=object.pk %}">MAC Address</a></li>
                                    {% endif %}
                                    {% if perms.dcim.add_inventoryitem %}
                                    <li><a class="dropdown-item" href="{% url 'dcim:inventoryitem_add' %}?device={{ iface.device_id }}&component_type={{ iface|content_type_id }}&component_id={{ iface.pk }}&return_url={% url 'plugins:netbox_napalm_plugin:lldp_neighbors' pk=object.pk %}">Inventory Item</a></li>
                                    {% endif %}
                                    {% if perms.dcim.add_interface %}
                                    <li><a class="dropdown-item" href="{% url 'dcim:interface_add' %}?device={{ iface.device_id }}&parent={{ iface.pk }}&name={{ iface.name }}.&type=virtual&return_url={% url 'plugins:netbox_napalm_plugin:lldp_neighbors' pk=object.pk %}">Child Interface</a></li>
                                    {% endif %}
                                    {% if perms.vpn.add_l2vpntermination %}
                                    <li><a class="dropdown-item" href="{% url 'vpn:l2vpntermination_add' %}?device={{ object.pk }}&interface={{ iface.pk }}&return_url={% url 'plugins:netbox_napalm_plugin:lldp_neighbors' pk=object.pk %}">L2VPN Termination</a></li>
                                    {% endif %}
                                    {% if perms.ipam.add_fhrpgroupassignment %}
                                    <li><a class="dropdown-item" href="{% url 'ipam:fhrpgroupassignment_add' %}?interface_type={{ iface|content_type_id }}&interface_id={{ iface.pk }}&return_url={% url 'plugins:netbox_napalm_plugin:lldp_neighbors' pk=object.pk %}">Assign FHRP Group</a></li>
                                    {% endif %}
                                </ul>
                            </span>
                            {% endif %}
                            {% if iface.link %}
                            <a href="{% url 'dcim:interface_trace' pk=iface.pk %}" class="btn btn-primary btn-sm" title="Trace"><i class="mdi mdi-transit-connection-variant"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="netbox-data" style="display: none!important; visibility: hidden!important">
        <span data-object-url="{% url 'plugins-api:netbox_napalm_plugin-api:napalmplatformconfig-napalm' pk=object.pk %}?method=get_lldp_neighbors_detail"></span>    
    </div>
{% endblock %}


